In [1]:
import pandas as pd

In [47]:
df = pd.read_csv('Data/Group Regression Test.csv')

In [48]:
df

  Category  Input  Output
0        A      1     100
1        A      2     200
2        A      3     310
3        B      1     150
4        B      2     250
5        B      3     350
6        C      1      90
7        C      2     120
8        C      3     300

In [49]:
import statsmodels.api as sm

In [50]:
def ols_res(df, xcols,  ycol):
    return sm.OLS(df[ycol], df[xcols]).fit().predict()

In [53]:
A= df.groupby('Category').apply(ols_res, ['Input'], 'Output')

In [38]:
df.to_csv('Data/Reg_Test.csv')

In [54]:
A

Category
A    [102.14285714285714, 204.28571428571428, 306.4...
B    [121.42857142857143, 242.85714285714286, 364.2...
C    [87.85714285714286, 175.71428571428572, 263.57...
dtype: object

In [58]:
A.head(3)

Category
A    [102.14285714285714, 204.28571428571428, 306.4...
B    [121.42857142857143, 242.85714285714286, 364.2...
C    [87.85714285714286, 175.71428571428572, 263.57...
dtype: object

In [22]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [23]:
Category.apply(regress, 'Input', ['Output'])

NameError: name 'Category' is not defined

In [2]:
df3 = pd.read_csv('Data/Reg_Test3.csv')

In [89]:
df3

  Category                              Regression
0        A  102.14285714,204.28571429,306.42857143
1        B  121.42857143,242.85714286,364.28571429
2        C  ,87.85714286,175.71428571,263.57142857

In [63]:
explode(df2.assign(Category=df2.Category.str.split(',')), 'Category')

NameError: name 'explode' is not defined

In [ ]:
temp = df2['Regression'].str.split(' ')
data = data.reindex(data.index.repeat(temp.apply(len)))
data['new_Seatblocks'] = np.hstack(temp)

In [64]:
temp = df2['Regression'].str.split(' ')

In [66]:
data = data.reindex(data.index.repeat(temp.apply(len)))

NameError: name 'data' is not defined

In [3]:
import numpy as np
from itertools import chain

In [4]:
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

In [5]:
df_New = df3['Regression'].str.split(',').map(len)

In [6]:
df_New

0    3
1    3
2    4
Name: Regression, dtype: int64

In [7]:
res = pd.DataFrame({'Category': np.repeat(df3['Category'], df_New),
                    'Regression': np.repeat(df3['Regression'], df_New)})

In [112]:
res

  Category                              Regression
0        A  102.14285714,204.28571429,306.42857143
1        B  121.42857143,242.85714286,364.28571429
2        C  ,87.85714286,175.71428571,263.57142857

In [8]:
df3 = df3.set_index(['Category', 'Regression']).apply(lambda x: x.str.split(' , ').explode()).reset_index()

In [108]:
df3

  Category                              Regression
0        A  102.14285714,204.28571429,306.42857143
1        B  121.42857143,242.85714286,364.28571429
2        C  ,87.85714286,175.71428571,263.57142857

In [115]:
# Convert columns of interest to list columns
df3["Regression"] = df3["Regression"].str.split(",")

# Explode the entire data frame
df3 = df3.apply(pd.Series.explode )

AttributeError: type object 'Series' has no attribute 'explode'

In [9]:
reshaped = \
(df3.set_index(df3.columns.drop('Regression',1).tolist())
   .Regression.str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Regression'})
   .loc[:, df3.columns]
)

print(reshaped)

  Category    Regression
0        A  102.14285714
1        A  204.28571429
2        A  306.42857143
3        B  121.42857143
4        B  242.85714286
5        B  364.28571429
6        C
7        C   87.85714286
8        C  175.71428571
9        C  263.57142857

In [10]:
reshaped

  Category    Regression
0        A  102.14285714
1        A  204.28571429
2        A  306.42857143
3        B  121.42857143
4        B  242.85714286
5        B  364.28571429
6        C
7        C   87.85714286
8        C  175.71428571
9        C  263.57142857